*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header della pagina con logo e titolo */



.logo {
    margin: 10px 5px 10px 15px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
 /* /header della pagina con logo e titolo */

 /* sfondo */
 main {
    background-color: #f6f8f9;
    
    padding: 30px;
    font-family: 'Roboto', sans-serif
 }
/* /sfondo */

/*  contenitore dei vari blocchi */
 .container {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
 }
 /*  /contenitore dei vari blocchi */

 /* pulsanti */
 .botton-part {
    height: 50px;
    padding: 16px 50px 8px 50px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 2px;
 }

 .botton-part .b-defolt{
    all: unset;
    background-color: white;
    border: #c4cbd0  solid 1px ;
    border-radius: 4px;
    padding: 5px 7px;
    font-size: 12px;
    cursor: pointer;
 }

 /* .b-defolt {} */

 #botton1 {
    background-color: #14aaf5;
    color: white;
 }

 #botton2 {
    color: #c4cbd0;
 }

 /* /pulsanti */

 /* sezioni */

 
.section-part {
    padding: 50px 50px;
    border-radius: 0px 0px 5px 5px;
}

/* lista */
.list-position {
    list-style-position: inside ;
}

.section-part h3::before {
    content: '\25BE';
    display: inline-block;
    margin-right: 10px;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li{
    font-weight: 500;
    margin-bottom: 20px;
}

/* check e cross */
.task-container ul li::before { 
    content: "\2713";
    display: inline-block;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    border: 1px solid #3acab0;
    border-radius: 50%; 
    text-align: center;
    line-height: 15px;
    font-size: 11px;
}

.task-container ul li.check::before{
    color: #3acab0;
    
}

.task-container ul li.cross::before{
    color: #ff4444;
    content: "\2717";
}
/* /check e cross */


/* parola evidenziata */
.mod-default {
    padding: 2px 4px;
    font-size: 10px;
    color: white;  
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 10px;
}

.Editorial-mod {
    background-color: #09a9ed;
}

.Q1-goals-mod{
    background-color: #ab5de6;
}

.Recruit-mod{
    background-color: #2cc6ab;
}

.Mobile-mod{
    background-color: #ff9b00;
}

.Website-mod{
    background-color: #ec4a9d;

}

.Sales-mod{
    background-color: #a3d116;
}

/* /parola evidenziata */
/* /lista */

  /* /sezioni */